.search-container {
  width: 730px;
  height: 69px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  /* height: 30px; */
  padding: 10px;
  justify-content: space-between;
  box-shadow: 1px 7px 9px var(--prim-grey);

  border-radius: 5px;
}

.search-container input {
  font-family: var(--font-fam);
  font-size: var(--font);
  /* padding: 10px; */
  margin-block: auto;
  /* background-color: red; */
  width: 254px;
  height: 25px;
  border: none;
  border-radius: 5px;
}

.search-container button {
  padding: 2px 15px;
  background-color: var(--main-black);
  color: white;
  width: 106px;
  height: 50px;
  border: none;
  margin-block: auto;
  border-radius: 5px;
  cursor: pointer;
}