.top-logo{
    color: var(--main-white);
    display: flex;
    justify-content: space-between;
    width: 100vw;
    /* max-width: 900px; */
    background-color: blueviolet;
    h1{
        font-family: var(--font-fam);
        margin: 0;
    }
    button{
        border: none; 
        font-family: var(--font-fam);
        color: var(--main-white);
        background-color: inherit;
    }

    
}