.top-logo{
    color: var(--main-white);
    display: flex;
    justify-content: space-between;
    width: 730px;
    height: 38px;
    padding: 10px;
    margin-inline: auto;
    h1{
        font-family: var(--font-fam);
        font-weight: var(--font-w-b);
        font-size: var(--font-h1);
        line-height: 38.51px;
        color: var(--sec-black);
        margin-top: 0;
    }
    button{
        width: 78px;
        height: 20px;
        border: none; 
        cursor: pointer;
        font-family: var(--font-fam);
        color: var(--prim-grey);
        line-height: 19.25px;
        background-color: inherit;
        margin-block: auto;
        span{
            margin-left: 10px;
        }
    }
    button:hover{
        color: var(--sec-black);
    }
}
.theme-dark h1, .theme-dark button{
    color: var(--main-white);
}
.theme-dark button:hover{
    color: var(--dark-icon-hover);
}

@media screen and (max-width:767px){
    .top-logo{
        width: 573px;
        font-weight: var(--font-w-b);
    } 
}

@media screen and (max-width:375px){
    .top-logo{
        width: 327px;
        font-weight: var(--font-w-b);
    }
    .top-logo h1{
        font-size: var(--font-h1);
        width: 128px;
    }
}