@import url("./designs/root.css");

.user-card {
  box-sizing: border-box;
  /* padding-top: 35px; */
  width: 730px;
  height: 419px;
  font-family: var(--font-fam);
  display: flex;
  margin-inline: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  background-color: var(--main-white);
  padding: 16px;
  border-radius: 8px;
}

.user-card img {
  box-sizing: border-box;
  height: 117px;
  border-radius: 50%;
  margin: 25px 5px 0 5px;
}

.user-card h1 {
  line-height: var(--height-h1);
  color: var(--prim-black);
  text-align: left;
  font-size: var(--font-h1);
  line-height: var(--height-h1);
  font-weight: var(--font-w-b);
  width: 176px;
  overflow: hidden;
  height: 39px;
}

.user-card .date {
  font-size: var(--font-bd);
  color: var(--prim-grey);
  margin-top: 0;
  width: 166px;
  text-wrap: nowrap;
  line-height: 22.22px;
  height: 22px;
  font-weight: var(--font-w-r);
}

.user-card h3 {
  color: var(--prim-blue);
  line-height: var(--height-h3);
  font-size: var(--font-h3);
  font-weight: var(--font-w-r);
  text-wrap: nowrap;
  width: 79px;
  box-sizing: border-box;
  height: 24px;
  padding: 0;
  margin: -15px 0 20px 0;
}

.user-card .bio {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: var(--font-w-r);
  font-size: var(--font-bd);
  font-family: var(--font-fam);
  color: var(--sec-grey);
  line-height: var(--height-bd);
  width: 480px;
  height: fit-content;
}

.details {
  width: 480px;
  height: 185px;
}

.followers {
  box-sizing: border-box;
  width: 480px;
  border-radius: 10px;
  height: 85px;
  margin-inline: auto;
  justify-content: space-evenly;
  display: flex;
  background-color: var(--prim-white);
}

.repos,
.follows,
.following {
  box-sizing: border-box;
  font-weight: var(--font-w-r);
  line-height: 19.25px;
  font-size: var(--font-h4);
  color: var(--sec-grey);
}

.respond {
  margin-top: 0;
  height: 33px;
  line-height: 32.58px;
  font-size: var(--font-h2);
  font-weight: var(--font-w-b);
  font-family: var(--font-fam);
  color: var(--sec-blue);
}

.top-row {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;

  .up-date {
    width: 80%;
    margin: 0;
  }
}

.up-date div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.details {
  margin-left: 10px;
}

.bottom-row {
  text-align: center;
  margin-top: 10px;
}

div.location {
  flex-wrap: wrap;
  height: 63px;
  display: flex;
  justify-content: space-around;
  width: 480px;

  p {
    font-size: 15px;
    font-weight: var(--font-w-r);
    color: var(--sec-grey);
    width: calc(50% - 2px);
    gap: 3px;
    align-items: center;
    display: flex;
  }

  p:hover {
    text-decoration: underline;
  }

  .icons {
    margin-right: 10px;
    color: var(--sec-grey);
  }

  a {
    text-decoration: none;
    color: var(--sec-grey);
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media screen and (max-width:767px) {
  .user-card {
    width: 573px;

    h3 {
      position: relative;
      top: -35px;
    }

  }

  .user-card img {
    margin: 10px 0 0 22px;
    height: 117px;
    width: 117px;
  }

  .user-card .date {
    clear: right;
    text-wrap: nowrap;
    display: inline-block;
    position: inherit;
  }

  .user-card .up-date div {
    flex-direction: column;
    align-items: unset;
  }

  .top-row {
    p.date {
      position: relative;
      bottom: -15px;
    }

    gap: 20px;
    position: relative;

    h1 {
      text-wrap: nowrap;
      clear: right;
    }
  }

  .followers {
    width: 490px;
  }

}

@media screen and (max-width:375px) {
  .user-card {
    width: 327px;
    height: 517px;
  }

  .user-card img {
    margin: 0;
    height: 70px;
    width: 70px;
  }

  .user-card .bottom-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-card .bio {
    width: 279px;
    height: 75px;
    overflow: scroll;
    text-overflow: ellipsis;
    margin: 0;
    white-space: unset;
    text-align:justify;
  }

  .user-card .details .followers {
    margin-top: 10px;
    box-sizing: border-box;
    width: 279px;
    align-content: center;
  }
  .user-card .location{
    align-self:flex-start;
    display: flex;
    height: 127px;
    margin-top: 20px;
    /* width: 185px; */
  }
  .user-card .location p{
    position: relative;
    left: 100px;
    flex: 1 calc(100% - 10px);
    /* justify-content:center; */
    margin-block: auto;
  }
  
}