.dark-mode {
  background-color: var(--prim-black);
}
.app-container {
  width: 100vw;
  text-align: center;
}

.error {
  color: red;
  position: absolute;
  top: 11.5%;
  right: 10lvw;
}
.search-dark {
  background-color:var(--main-black);
  box-shadow: none;
  color: var(--prim-white)
}
.search-dark input {
  color: var(--sec-white);
}

.card-dark {
  background-color: var(--main-black);
  color: var(--main-white);
  border: none;
}
.card-dark h1, .card-dark .date{
  color: var(--sec-white);
}
.card-dark .bio{
  color: var(--sec-white);
}
.card-dark .followers{
  background-color: var(--prim-black);
}
.card-dark .repos, .card-dark .follows, .card-dark .following,.card-dark .repos p, .card-dark .follows p, .card-dark .following p{
  color: var(--prim-white);
}
.card-dark .location p, .card-dark .location .icons{
color: var(--main-white);
}
body{
  background-color: var(--prim-white);
}

@media screen and (min-width:573px){
  
}