#root {
  /* text-align: center; */
}
.dark-mode {
  background-color: var(--prim-black);
}
.app-container {
  max-width: 500px;
  text-align: center;
}
.logo{
  width: 730px;
  height: 38px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.error {
  color: red;
  margin-top: 10px;
}
.search-dark {
  background-color:var(--main-black);
  color: white;
}

.card-dark {
  background-color: var(--main-black);
  color: white;
  border: none;
}
body{
  background-color: var(--prim-white);
  display: flex;
  width: 100%;
}
